src/main/resources/datamodel/RadioTVDatamodel/ContentModel_RadioTVFile/datastreams/CROSSCHECK_SCHEMA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tsa-report" type="tsa-reportType">
        <xs:annotation>
            <xs:documentation>Created by Manzanita CrossCheck</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!--The attribute based elements-->
    <xs:complexType name="valueType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="value" use="optional"/>
                <xs:attribute type="xs:string" name="time" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="descriptorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="tag" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="pid-infoType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="pid" use="optional"/>
                <xs:attribute type="xs:string" name="content" use="optional"/>
                <xs:attribute type="xs:string" name="npkt" use="optional"/>
                <xs:attribute type="xs:string" name="pkt-rate" use="optional"/>
                <xs:attribute type="xs:string" name="payld-rate" use="optional"/>
                <xs:attribute type="xs:string" name="programs" use="optional"/>
                <xs:attribute type="xs:string" name="errors" use="optional"/>
                <xs:attribute type="xs:string" name="warnings" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="errorType" >
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="pid" use="optional"/>
                <xs:attribute type="xs:string" name="packet" use="optional"/>
                <xs:attribute type="xs:string" name="time" use="optional"/>
                <xs:attribute type="xs:string" name="code" use="optional"/>
                <xs:attribute type="xs:string" name="msg" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>



    <!--The sequence based elements-->
    <xs:complexType name="errorsType" mixed="true">
        <xs:sequence>
            <xs:element type="errorType" name="error" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="configurationType" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##targetNamespace"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="multiplex-summaryType" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##targetNamespace"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pid-propertiesType" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##targetNamespace"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="instance" use="optional"/>
    </xs:complexType>
    <xs:complexType name="tsa-reportType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:element type="configurationType" name="configuration" minOccurs="0"/>
            <xs:element type="stream-informationType" name="stream-information" minOccurs="0"/>
            <xs:element type="multiplex-summaryType" name="multiplex-summary" minOccurs="0"/>
            <xs:element type="pid-summaryType" name="pid-summary" minOccurs="0"/>
            <xs:element type="pid-propertiesType" name="pid-properties" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="errorsType" name="errors" minOccurs="0"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="license-serno"/>
        <xs:attribute type="xs:string" name="license-username"/>
        <xs:attribute type="xs:string" name="date"/>
        <xs:attribute type="xs:string" name="file"/>
    </xs:complexType>
    <xs:complexType name="pid-summaryType" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##targetNamespace"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stream-informationType" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##targetNamespace"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>